# Skopiuj ten plik jako .env i uzupełnij swoimi danymi

# Wygeneruj losowy string: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=b8f9e61298c4a4f89d38c1b694b8e21966a337c688d0b2803b9b46f043e06f9e

# Connection string z Supabase:
# Project Settings → Database → Connection string → URI
# Zamień [YOUR-PASSWORD] na swoje hasło bazy
DATABASE_URL=postgresql://postgres.[project-ref]:[Przemek121!]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres

# Środowisko
FLASK_ENV=development
